/build
/release
.idea/
*.bin
*.lock
local.properties
gradlew.bat
gradlew
gradle/wrapper/gradle-wrapper.properties
gradle/wrapper/gradle-wrapper.jar
calculator.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/runConfigurations.xml
.idea/modules.xml
.idea/misc.xml
.idea/gradle.xml
.idea/encodings.xml
.gradle/workspace-id.txt
.gradle/vcs-1/gc.properties
.gradle/buildOutputCleanup/cache.properties
.gradle/5.1.1/gc.properties
*.iml
